

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #39A7FF;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th input[type="checkbox"] {
  margin-left: 5px;
}

tbody tr {
  transition: background-color 0.5s;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

td input[type="checkbox"] {
  margin-left: 5px;
}

td input[type="text"],
td select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

td select {
  cursor: pointer;
}

td button {
  cursor: pointer;
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
}

.checkbox {
  cursor: pointer;
}

.save {
  background-color: #28a745;
  color: #fff;
}

.edit {
  background-color: #28a745;
  color: #fff;
}

.delete {
  background-color: #dc3545;
  color: #fff;
}

.cancel {
  background-color: #ffc107;
  color: #333;
}



/* Responsive Styles */
@media only screen and (max-width: 768px) {

  table{
    width: 500px;
    margin: 0 auto;
  }

  th input[type="checkbox"],
  td input[type="checkbox"],
  td input[type="text"],
  td select,
  td button {
    width: 100%;
    margin-bottom: 8px;
  }
}
